.app-header {
  -webkit-font-smoothing: antialiased;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: var(--header-height);
  max-height: var(--header-height);
  position: fixed;
  background-color: var(--BGDarker);
  border-bottom: 1px solid var(--BORDER);
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
  padding-left: 12px;
}

.app-header .logo {
  height: var(--header-height);
}

.app-header .center {
  display: flex;
  align-items: center;
}

.app-header code {
  color: var(--FG);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  unicode-bidi: isolate;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex-grow: 0;
  padding: 2px calc(5px);
  border-radius: 4px;
  background-color: var(--SELECTION);
  font-size: 16px;
  font-weight: 700;
}

.app-body {
  display: block;
  width: calc(100vw - var(--scrollbar-width));
  min-height: calc(100vh - var(--scrollbar-width));
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding-top: calc(var(--header-height, 0px) + 16px);
  padding-bottom: calc(var(--footer-height, 0px) + 16px);
  padding-left: calc(var(--navbar-width, 0px) + 16px);
  padding-right: calc(var(--aside-width, 0px) + 16px);
  background-color: var(--BG);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, var(--BGDarker) 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 3.5s infinite alternate linear;
}
.loader::before {
  content: "Searching for Wled-Devices";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(
    circle closest-side,
    var(--FG) 50%,
    var(--BGDarker)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

.app-footer {
  -webkit-font-smoothing: antialiased;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: var(--footer-height);
  max-height: var(--footer-height);
  position: fixed;
  background-color: var(--BGDarker);
  border-top: 1px solid var(--BORDER);
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
  padding-left: 22px;
  align-items: center;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 8px;
  align-items: center;
}
