body {
  background-color: #aaaaaa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

#videoSelectBtn {
  position: absolute;
  z-index: 99;
}
