.devices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 16px;
}

device-card {
  z-index: 1;
  width: 100%;
  text-size-adjust: 100%;
  line-height: 1.55;
  font-size: 20px;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  outline: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  text-decoration: none;
  color: var(--FG);
  background-color: var(--BGDark);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid var(--BORDER);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

device-card:hover {
  transform: scale(1.03);
}
