::view-transition-old(root),
::view-transition-new(root) {
  animation: 0.25s 0.25s linear both grow-x;
}

body {
  background-color: var(--BG);
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--BGDarker);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-sm);
  background-color: var(--BGLight);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--BGLighter);
}
