:root {
  --header-height: 80px;
  --footer-height: 70px;
  --border-radius-sm: 3px;
  --scrollbar-width: 0.5rem;
  --BG: #282a36;
  --FG: #f8f8f2;
  --SELECTION: #44475a;
  --COMMENT: #6272a4;
  --CYAN: #8be9fd;
  --GREEN: #50fa7b;
  --ORANGE: #ffb86c;
  --PINK: #ff79c6;
  --PURPLE: #bd93f9;
  --RED: #ff5555;
  --BORDER: #44475a;
  --YELLOW: #f1fa8c;
  --COLOR0: #21222c;
  --COLOR1: #ff5555;
  --COLOR2: #50fa7b;
  --COLOR3: #f1fa8c;
  --COLOR4: #bd93f9;
  --COLOR5: #ff79c6;
  --COLOR6: #8be9fd;
  --COLOR7: #f8f8f2;
  --COLOR8: #6272a4;
  --COLOR9: #ff6e6e;
  --COLOR10: #69ff94;
  --COLOR11: #ffffa5;
  --COLOR12: #d6acff;
  --COLOR13: #ff92df;
  --COLOR14: #a4ffff;
  --COLOR15: #ffffff;
  --TEMP_QUOTES: #e9f284;
  --TEMP_PROPERTY_QUOTES: #8be9fe;
  --LineHighlight: #44475a75;
  --NonText: #ffffff1a;
  --WHITE: #ffffff;
  --TAB_DROP_BG: #44475a70;
  --BGLighter: #424450;
  --BGLight: #343746;
  --BGDark: #21222c;
  --BGDarker: #191a21;
}

[data-theme="light"] {
  --BG: #f8f8f2;
  --FG: #282a36;
  --SELECTION: #d7d7d7;
  --COMMENT: #6272a4;
  --CYAN: #8be9fd;
  --GREEN: #50fa7b;
  --ORANGE: #ffb86c;
  --PINK: #ff79c6;
  --PURPLE: #bd93f9;
  --RED: #ff5555;
  --BORDER: #d7d7d7;
  --YELLOW: #f1fa8c;
  --COLOR0: #ffffff;
  --COLOR1: #ff5555;
  --COLOR2: #50fa7b;
  --COLOR3: #f1fa8c;
  --COLOR4: #bd93f9;
  --COLOR5: #ff79c6;
  --COLOR6: #8be9fd;
  --COLOR7: #282a36;
  --COLOR8: #6272a4;
  --COLOR9: #ff6e6e;
  --COLOR10: #69ff94;
  --COLOR11: #ffffa5;
  --COLOR12: #d6acff;
  --COLOR13: #ff92df;
  --COLOR14: #a4ffff;
  --COLOR15: #191a21;
  --TEMP_QUOTES: #e9f284;
  --TEMP_PROPERTY_QUOTES: #8be9fe;
  --LineHighlight: #d7d7d775;
  --NonText: #0000001a;
  --WHITE: #000000;
  --TAB_DROP_BG: #d7d7d770;
  --BGLighter: #e5e5e5;
  --BGLight: #f2f2f2;
  --BGDark: #ffffff;
  --BGDarker: #ffffff;
}
