.toaster {
  box-sizing: border-box;
  width: calc(100% - 1rem * 2);
  position: fixed;
  z-index: 400;
  top: 1rem;
  left: calc(50% - (27.5rem / 2));
  /*  right: 1rem;
  bottom: 1rem; */
  max-width: 27.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toast {
  text-size-adjust: 100%;
  color: var(--FG);
  line-height: 2;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 5px 10px 10px;
  border-radius: 4px;
  background-color: var(--BG);
  box-shadow: var(--BGDarker) 0px 1px 3px, var(--BGDarker) 0px 28px 23px -7px,
    var(--BGDarker) 0px 12px 12px -7px;
  border: 1px solid var(--BORDER);
  opacity: 1;
  max-height: 200px;
  cursor: pointer;
  gap: 10px;
  animation: slide-in 0.6s ease;
}

.out {
  animation: slide-out 0.6s ease;
}

@keyframes slide-in {
  0% {
    position: absolute;
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(calc(100% + 10px));
  }
}
